@import "project-card.css";
@import "navbar.css";
@import "carousel.css";

body{
    font-family: 'Pontano Sans', sans-serif;
}

.custum-btn-animation{
    animation-name:jump;
    animation-duration:0.5s;
    position:relative;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes jump{
    0%{
        transition: all 100ms ease-in;
        transform: scale(1);
    }
    100%{
        transition: all 100ms ease-in;
        transform: scale(1.2);
    }
}