.custom-bg-bleue{
    background: rgb(35,47,62);
    font-size: 18px;
}
.custom-home{
    color: rgb(70,159,193) !important;
}
nav a:hover{
    color: rgb(244,151,39) !important;
}

.perso-search{
    background: rgb(244,151,39);
    color: rgb(35,47,62);
}
.cutom-left-animation{
    animation-name:left;
    animation-duration:2s;
    position:relative;
}
@keyframes left{
    0%{left: -1000px}
    100%{left: 0px}
}
.cutom-right-animation{
    animation-name:right;
    animation-duration:2s;
    position:relative;
}
@keyframes right{
    0%{left: 2000px}
    100%{left: 0px}
}