{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>{{ yes }}</h1>
    </div>
    <div class="container">
        <h2>{{ cool }}</h2>
    </div>
{% endblock %}
